<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<form name="registerForm" role="form" data-ng-submit="register(registerForm)" novalidate>
		<h2>Регистрация</h2>

    	<ng-include src="'views/includes/login-fields.html'" onload="formName=registerForm"></ng-include>

		<div class="form-group" data-ng-class="{'has-error' : submitted && registerForm.userEmail.$invalid}">
			<label for="user-email">E-mail:</label>
			<input type="text" class="form-control input-lg" name="userEmail" id="user-email" placeholder="E-mail" required
				data-ng-model="user.email">
			<small class="text-danger" data-ng-show="submitted && registerForm.userEmail.$error.required">Пожалуйства введите e-mail</small>
		</div>

		<div class="form-group">
			<label>Пол:</label><br>
			<div class="radio-inline">
				<input type="radio" name="userGender" id="user-gender-male" data-ng-model="user.gender" value="1" checked>
				<label for="user-gender-male">Мужской</label>
			</div>
			<div class="radio-inline">
				<input type="radio" name="userGender" id="user-gender-female" data-ng-model="user.gender" value="0">
				<label for="user-gender-female">Женский</label>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
		<a href="#/login" class="btn btn-default pull-right">Войти</a>
	</form>
	</div>
</div>
</style>